<div class="container my-4 shadow p-4">
    <h2>Calc Program!!!</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <input type="number" class="form-control my-3" placeholder="Enter Value1" [(ngModel)] ="fValue">
                <input type="number" class="form-control my-3" placeholder="Enter Value2" [(ngModel)]="sValue">
                <select class="form-control my-3" [(ngModel)]="operand">
                    <option>+</option>
                    <option>-</option>
                    <option>X</option>
                    <option>/</option>
                </select>
                <button class="btn btn-warning" (click)="onCalc()">Get Value</button>
                <span>{{rValue}}</span>
            </div>
        </div>
    </div>
</div>
