<div class="container">
    <div class="row">
        <div class="h1 my-4 p-5 bg-info" style="text-align: center ;">
            <h1>{{title}}</h1>
        </div>
        <nav class="nav navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="navitem">
                    <a href="" class="nav-link btn btn-danger btn-sm">
                        <i class="fa fa-plus-circle"></i>
                        Add New Employee</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
