<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col">
            <nav class="navbar-header bg-info">
                <ul class="nav navbar">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="manager">Employee Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="calc">Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="first">First Component</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="master-detail">Master Detail</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-danger btn-sm" routerLink="manager/addEmp">
                            <i class="fa fa-plus-circle"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>